[submodule "muchmala-static"]
	path = muchmala-static
	url = git@github.com:borbit/muchmala-static.git
[submodule "muchmala-io"]
	path = muchmala-io
	url = git@github.com:borbit/muchmala-io.git
[submodule "muchmala-cmn"]
	path = muchmala-cmn
	url = git@github.com:borbit/muchmala-cmn.git
[submodule "muchmala-cli"]
	path = muchmala-cli
	url = git@github.com:borbit/muchmala-cli.git
[submodule "muchmala-api"]
	path = muchmala-api
	url = git@github.com:borbit/muchmala-api.git
[submodule "ansible/roles/bootstrap"]
	path = ansible/roles/bootstrap
	url = git@github.com:laggyluke/ansible-role-bootstrap.git
[submodule "ansible/roles/nodejs"]
	path = ansible/roles/nodejs
	url = git@github.com:laggyluke/ansible-role-nodejs.git
[submodule "ansible/roles/redis"]
	path = ansible/roles/redis
	url = git@github.com:laggyluke/ansible-role-redis.git
[submodule "ansible/roles/enver"]
	path = ansible/roles/enver
	url = git@github.com:laggyluke/ansible-role-enver.git
[submodule "ansible/roles/s3cmd"]
	path = ansible/roles/s3cmd
	url = git@github.com:laggyluke/ansible-role-s3cmd.git
